<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="everywhere.com.mynetgear.ccvf2.admin.mapper.mailtemplat.mailTemplatMapper">

<!-- 	<resultMap type="" id="fileBoardDto">
		<result property="boardNumber" column="board_number"/>
		<result property="writer" column="writer"/>
	</resultMap> -->
	
	<select id="select_mailTemplate_list" resultType="everywhere.com.mynetgear.ccvf2.admin.dto.mailtemplat.MailTemplateDto" parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.mailtemplat.MailTemplateDto">
		SELECT 
			MTEMP_NO
			MTEMP_GROUP_CODE
			MTEMP_NAME
			MTEMP_TITLE
			MTEMP_CONTENT
			MTEMP_USER_YN
			MTEMP_REGDATE
		FROM
			TBL_MAIL_TEMPLATE
	</select>
	
	<insert id="insert_email_template" parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.mailtemplat.MailTemplateDto">
		INSERT INTO 
			TBL_MAIL_TEMPLATE
		(
			MTEMP_NO
			, MTEMP_GROUP_CODE
			, MTEMP_NAME
			, MTEMP_TITLE
			, MTEMP_CONTENT
			, MTEMP_USER_YN
			, MTEMP_REGDATE
		)
		VALUES(
			TBL_MAIL_TEMPLATE_MTEMP_NO_SEQ.nextval
			, #{mtemp_group_code}
			, #{mtemp_name}
			, #{mtemp_title}
			, #{mtemp_content}
			, #{mtemp_use_yn}
			, SYSDATE
		)
	</insert>

</mapper>