<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 동행구하기 게시판의 mapper -->
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.accompany">

 	<resultMap type="everywhere.com.mynetgear.ccvf2.user.dto.accompany.AccompanyDto" id="accompanyMap">
		<result property="accompany_no" column="ACCOMPANY_NO"/>
		<result property="mem_no" column="MEM_NO"/>
		<result property="write_date" column="WRITE_DATE"/>
		<result property="start_date" column="START_DATE"/>
		<result property="end_date" column="END_DATE"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="accompany_status_code" column="ACCOMPANY_STATUS_CODE"/>
		<result property="use_yn" column="USE_YN"/>
		<result property="gender_code" column="GENDER_CODE"/>
		<result property="mem_name" column="MEM_NAME"/>	
		<result property="reply_count" column="reply_count"/>
		
	</resultMap> 
	
	<!-- 동행구하기 게시판 쓰기 -->
	<insert id="insertAccompany" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.accompany.AccompanyDto">
		insert into
			tbl_accompany
		(
			accompany_no,
			mem_no,
			write_date,
			start_date,
		 	end_date,
		 	title,
		 	content,
		 	accompany_status_code,
		    gender_code,
		    use_yn
		)
		values
		(
			accompany_no_seq.nextval,
			#{mem_no},
			sysdate,
			#{start_date},
			#{end_date},
			#{title},
			#{content},
			#{accompany_status_code},
			#{gender_code},
			#{use_yn}
		)
	</insert>
	
	<!-- 게시물 개수 가져오기 -->
	<select id="getAccompanyCount" parameterType="java.util.Map" resultType="int">
		select count(*)
		from tbl_accompany
		where use_yn=#{use_yn}
		<if test="accompany_status_code != null">
			and accompany_status_code=#{accompany_status_code}
		</if>
			and (title like '%'||#{searchValue, jdbcType=VARCHAR}||'%' 
			or content like '%'||#{searchValue, jdbcType=VARCHAR}||'%')
	</select>
	
	
	<!-- 한 페이지에 표시할 게시글 리스트 -->
	<select id="getAccompanyList" parameterType="java.util.Map" resultMap="accompanyMap">
			select accompany.rnum,
			  accompany.accompany_no,
			  accompany.mem_no, 
			  accompany.write_date, 
			  accompany.start_date, 
			  accompany.end_date, 
			  accompany.title, 
			  accompany.content,
			  accompany.attach_file, 
			  accompany.accompany_status_code, 
			  accompany.gender_code, 
			  accompany.use_yn, 
			  accompany.hits,
			  member.mem_name,
			  (
				  select count(*) 
				  from tbl_common_reply 
				  where item_no=accompany.accompany_no and type_code='S0010'
			  ) as reply_count
			from (select * 
				  from (
						SELECT ROWNUM <![CDATA[rnum, b.* ]]>
						FROM (
								SELECT * 
								FROM tbl_accompany 
								where use_yn=#{use_yn}
								<if test="accompany_status_code != null">
									and accompany_status_code=#{accompany_status_code}
								</if>
									and (title like '%'||#{searchValue, jdbcType=VARCHAR}||'%' 
									or content like '%'||#{searchValue, jdbcType=VARCHAR}||'%')
								
								ORDER BY<![CDATA[ accompany_no desc]]>
							)b
						)
				  where <![CDATA[rnum >= #{startRow}]]>
				  and <![CDATA[ rnum <= #{endRow}]]>
				) accompany, 
				  tbl_member member
			where accompany.mem_no = member.mem_no
	</select>
	
	<!-- 게시글 읽기 -->
	<select id="readAccompany" parameterType="java.util.Map" resultMap="accompanyMap">
		SELECT b.*,
      	(
	        SELECT count(*) 
	        FROM tbl_common_reply 
	        WHERE item_no=accompany_no AND type_code='S0010'
		) AS reply_count
	    FROM
	      (
	        SELECT *		  	
	        FROM tbl_accompany
	        WHERE accompany_no=${accompany_no}
	        AND use_yn=${use_yn}) b;
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="updateAccompanyHits" parameterType="int">
		update tbl_accompany
		set hits=hits + 1
		where accompany_no = #{accompany_no}
	</update>
	
	<!-- 게시글 가져오기 -->
	<select id="getOneAccompany" parameterType="int" resultMap="accompanyMap">
		select  accompany.accompany_no,
			  accompany.mem_no, 
			  accompany.write_date, 
			  accompany.start_date, 
			  accompany.end_date, 
			  accompany.title, 
			  accompany.content,
			  accompany.attach_file, 
			  accompany.accompany_status_code, 
			  accompany.gender_code, 
			  accompany.use_yn, 
			  accompany.hits,
			  member.mem_name
		from tbl_accompany accompany, tbl_member member
		where accompany.mem_no = member.mem_no
		and accompany.accompany_no=#{accompany_no}
	</select>
	
	<!-- 세션 mem_id와 게시글 mem_id비교 -->
	<select id="checkUserAccompany" parameterType="java.util.Map" resultType="int">
		select count(*) 
		from tbl_accompany
		where accompany_no=#{accompany_no}
		and mem_no=#{mem_no}
	</select>
	
	<!--  게시물 삭제 -->
	<update id="deleteAccompany" parameterType="java.util.Map">
		update tbl_accompany
		set use_yn=#{use_yn}
		where accompany_no=#{accompany_no}
		and mem_no=#{mem_no}
	</update>
	
	<!-- 게시물 수정 -->
	<update id="updateAccompany" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.accompany.AccompanyDto">
		UPDATE tbl_accompany
		SET start_date=#{start_date},
			end_date=#{end_date},
		    title=#{title},
		    content=#{content},
		    accompany_status_code=#{accompany_status_code},
		    gender_code=#{gender_code}
		WHERE accompany_no=#{accompany_no}
	</update>
	
	<!-- 최근 5개 게시물 (삭제 제외, 공지 제외) -->
	<select id="getRecentAccompanyList" parameterType="java.util.Map" resultMap="accompanyMap">
		<![CDATA[
		select accompany.rnum,
			  accompany.accompany_no,
			  accompany.mem_no, 
			  accompany.write_date, 
			  accompany.start_date, 
			  accompany.end_date, 
			  accompany.title, 
			  accompany.content,
			  accompany.attach_file, 
			  accompany.accompany_status_code, 
			  accompany.gender_code, 
			  accompany.use_yn, 
			  accompany.hits,
			  member.mem_name
			from (select * 
						from (
							SELECT ROWNUM rnum, b.* 
							FROM (
								SELECT * 
								FROM tbl_accompany 
								where use_yn=#{use_yn}
              					  AND tbl_accompany.ACCOMPANY_STATUS_CODE not like #{accompany_status_code}
								ORDER BY accompany_no desc
							)b
						)
				where rnum >= 1
				and rnum <= 5
				) accompany, 
				  tbl_member member
			where accompany.mem_no = member.mem_no
			]]>
	</select>
	
</mapper>