<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.main.userMainMapper">
	
	<!-- 슬라이드 이미지의 백그라운드 이미지 셋팅값 -->
	<select id="select_service_main_slide_back_img" 
	resultType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto" 
	parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto">
		SELECT
			*
		FROM
			TBL_ADMIN_MAIN_SETTING
		WHERE
			SETTING_NO=(
						SELECT
							MAX(SETTING_NO)
						FROM
							TBL_ADMIN_MAIN_SETTING
						WHERE
							USE_YN=#{use_yn}
						AND
							SETTING_TYPE_CODE=#{setting_type_code}
					<if test="setting_spot_code != '' ">
						AND
							SETTING_SPOT_CODE=#{setting_spot_code}
					</if>
						)
	</select>
	<!-- 슬라이드 이미지의 백그라운드 이미지 셋팅값 -->
	<select id="select_service_main_slide_fornt_img" 
	resultType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto" 
	parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto">
		SELECT
			*
		FROM
			TBL_ADMIN_MAIN_SETTING
		WHERE
			USE_YN=#{use_yn}
		AND
			SETTING_TYPE_CODE=#{setting_type_code}
	<if test="setting_spot_code != '' ">
		AND
			SETTING_SPOT_CODE=#{setting_spot_code}
	</if>
	</select>
	
	
	<select id="new_planner" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		SELECT 
			k.PLANNER_NO
			, k.MEM_NO
			, k.PLANNER_BA_CODE
			, k.TITLE
			, (select SAVE_NAME||'.'||EXTENSION from TBL_COMMON_FILE where FILE_NO=k.attach_file) attach_file
			, k.MEMO
			, k.START_DATE
			, k.END_DATE
			, k.REG_DATE
			, k.USE_YN
			,(select count(*) from tbl_Common_reply where item_no=k.planner_no and type_code='Z1001') reply_Count
			,(select mem_name from tbl_member where mem_no=k.mem_no) mem_name
		FROM
		  (SELECT rownum rnum,
		    f.*
		  FROM
		    (SELECT t.*
		    FROM tbl_planner t
		    WHERE t.USE_YN='Y0002'
		    ORDER BY t.reg_date DESC
		    )f
		  )k
		WHERE <![CDATA[k.rnum>=1]]>
		AND <![CDATA[k.rnum  <=3]]>
	</select>
	
	
	
	
</mapper>