<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.main.userMainMapper">
	
	<!-- 슬라이드 이미지의 백그라운드 이미지 셋팅값 -->
	<select id="select_service_main_slide_back_img" 
	resultType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto" 
	parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto">
		SELECT
			*
		FROM
			TBL_ADMIN_MAIN_SETTING
		WHERE
			SETTING_NO=(
						SELECT
							MAX(SETTING_NO)
						FROM
							TBL_ADMIN_MAIN_SETTING
						WHERE
							USE_YN=#{use_yn}
						AND
							SETTING_TYPE_CODE=#{setting_type_code}
					<if test="setting_spot_code != '' ">
						AND
							SETTING_SPOT_CODE=#{setting_spot_code}
					</if>
						)
	</select>
	<!-- 슬라이드 이미지의 백그라운드 이미지 셋팅값 -->
	<select id="select_service_main_slide_fornt_img" 
	resultType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto" 
	parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.settingmain.SettingMainDto">
		SELECT
			*
		FROM
			TBL_ADMIN_MAIN_SETTING
		WHERE
			USE_YN=#{use_yn}
		AND
			SETTING_TYPE_CODE=#{setting_type_code}
	<if test="setting_spot_code != '' ">
		AND
			SETTING_SPOT_CODE=#{setting_spot_code}
	</if>
	</select>
	
	
	<select id="new_planner" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		SELECT 
			k.PLANNER_NO
			, k.MEM_NO
			, k.PLANNER_BA_CODE
			, k.TITLE
			, (select SAVE_NAME||'.'||EXTENSION from TBL_COMMON_FILE where FILE_NO=k.attach_file) attach_file
			, k.MEMO
			, k.START_DATE
			, k.END_DATE
			, k.REG_DATE
			, k.USE_YN
			,(select count(*) from tbl_Common_reply where item_no=k.planner_no and type_code='Z1001') reply_Count
			,(select mem_name from tbl_member where mem_no=k.mem_no) mem_name
		FROM
		  (SELECT rownum rnum,
		    f.*
		  FROM
		    (SELECT t.*
		    FROM tbl_planner t
		    WHERE t.USE_YN='Y0001'
		    ORDER BY t.reg_date DESC
		    )f
		  )k
		WHERE <![CDATA[k.rnum>=1]]>
		AND <![CDATA[k.rnum  <=3]]>
	</select>
	
	<!-- 좋아요 많은순 -->
	<select id="select_List_more_like" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		SELECT BB.* FROM
			(SELECT
				ROWNUM RNUM
				,AA.* 
			FROM
				(
				SELECT 
					PLA.PLANNER_NO
					, PLA.MEM_NO
					, (SELECT MEM_NAME FROM TBL_MEMBER WHERE MEM_NO=PLA.MEM_NO )MEM_NAME
					, PLA.PLANNER_BA_CODE
					, PLA.TITLE
					, (select SAVE_NAME||'.'||EXTENSION from TBL_COMMON_FILE where FILE_NO=replace(PLA.ATTACH_FILE,',','')) AS ATTACH_FILE
					, PLA.MEMO
					, PLA.START_DATE
					, PLA.END_DATE
					, PLA.REG_DATE
					, PLA.USE_YN
					,NVL(COUNTTABLE.sweet_count,'0')sweet_count
					,(SELECT COUNT(*) FROM TBL_COMMON_REPLY WHERE TYPE_CODE='R0002' AND ITEM_NO=PLA.PLANNER_NO)reply_Count
					,(SELECT COUNT(*) FROM TBL_BOOKMARK WHERE ITEM_NO=PLA.PLANNER_NO AND BOOKMARK_TYPE_CODE=PLA.PLANNER_BA_CODE)bookmark_Count
				FROM
					TBL_PLANNER PLA
				LEFT OUTER JOIN
					(SELECT PLANNER_NO,COUNT(PLANNER_NO) sweet_count FROM TBL_SWEET GROUP BY PLANNER_NO ORDER BY sweet_count DESC)COUNTTABLE
				ON
					PLA.PLANNER_NO=COUNTTABLE.PLANNER_NO
				WHERE
					PLA.USE_YN='Y0001'
				)AA
			ORDER BY
			AA.sweet_count
			DESC
			)BB
		WHERE
		BB.RNUM<![CDATA[>=]]>1 AND BB.RNUM<![CDATA[<=]]>3
	</select>
	
		<select id="select_list_spot_user_Main" resultType="everywhere.com.mynetgear.ccvf2.user.dto.search.SpotDtoExt">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM RNUM
				, RTABLE.*
			FROM
				(SELECT 
						SP.SPOT_NO
					, SP.MEM_NO
					, SP.COUNTRY_CODE
					, (select code_name from TBL_COMMON_CODE where CODE=SP.COUNTRY_CODE) AS COUNTRY_NAME
					, SP.CITY_CODE
					, (select code_name from TBL_COMMON_CODE where CODE=SP.CITY_CODE) AS CITY_NAME
					, SP.SPOT_NAME
					, SP.SPOT_TYPE_CODE
					, (select code_name from TBL_COMMON_CODE where CODE=SP.SPOT_TYPE_CODE) AS SPOT_TYPE_NAME
					, SP.MEM_LEVEL_CODE
					, SP.SPOT_NOTE
					, (select SAVE_NAME||'.'||EXTENSION from TBL_COMMON_FILE where FILE_NO=replace(SP.ATTACH_FILE,',','')) AS ATTACH_FILE
					, SP.SPOT_ADDR
					, SP.SPOT_LAT
					, SP.SPOT_LONG
					, SP.TOTAL_STAR_SCORE
					, SP.COUNT_STAR_SCORE
					, SP.OPEN_API_SEQ
					, SP.SPOT_REGDATE
					, ROUND( NVL((SP.TOTAL_STAR_SCORE)/DECODE((SP.COUNT_STAR_SCORE),0, NULL,(SP.COUNT_STAR_SCORE)), 0), 1) AS STAR_SCORE
					FROM
						TBL_SPOT SP
					ORDER BY
						STAR_SCORE
					DESC
						,SP.TOTAL_STAR_SCORE 
					DESC
					)RTABLE
				)TOTALTABLE
		WHERE
		RNUM<![CDATA[>=1]]> AND RNUM<![CDATA[<=6]]>
	</select>
	
	
	<select id="select_list_Admin_Suggest" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		SELECT
			PLA.PLANNER_NO
			, PLA.MEM_NO
			, (SELECT MEM_NAME FROM TBL_MEMBER WHERE MEM_NO=PLA.MEM_NO )MEM_NAME
			, PLA.PLANNER_BA_CODE
			, PLA.TITLE
			, (SELECT SAVE_NAME||'.'||EXTENSION FROM TBL_COMMON_FILE WHERE FILE_NO=PLA.ATTACH_FILE)ATTACH_FILE
			, PLA.MEMO
			, PLA.START_DATE
			, PLA.END_DATE
			, PLA.REG_DATE
			, PLA.USE_YN
      ,(SELECT COUNT(*) FROM TBL_COMMON_REPLY WHERE TYPE_CODE='R0002' AND ITEM_NO=PLA.PLANNER_NO)reply_Count
      ,(SELECT COUNT(*) FROM TBL_SWEET WHERE PLANNER_NO=PLA.PLANNER_NO)sweet_count
      ,(SELECT COUNT(*) FROM TBL_BOOKMARK WHERE ITEM_NO=PLA.PLANNER_NO AND BOOKMARK_TYPE_CODE=PLA.PLANNER_BA_CODE)bookmark_Count
		FROM
			TBL_PLANNER PLA
		WHERE
			PLANNER_NO IN
			(SELECT
				AA.PLANNER_NO
			FROM
				(SELECT
					ROWNUM RNUM ,
					PLANNER_NO
				FROM
					TBL_ADMIN_MAIN_SETTING
				WHERE
					SETTING_SPOT_CODE='M8883'
				AND
					SETTING_TYPE_CODE='M9992'
				AND
					USE_YN='Y0001'
				ORDER BY
					SETTING_DATE
				DESC
				)AA
			WHERE
				AA.RNUM<![CDATA[>=]]>1
			AND
				AA.RNUM<![CDATA[<=]]>3
		)
	</select>
	
	
</mapper>