<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.spot">
	<select id="get_spot_seq_no" resultType="int">
		select TBL_SPOT_SPOT_NO_SEQ.nextval from dual
	</select>

	<select id="select_spot_all_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		select * from tbl_spot
	</select>

	<select id="select_spot_all_list_for_planner" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		<![CDATA[
			select * from (
				select rownum rnum, a.* from
					(select * from tbl_spot order by spot_name asc) a)
			where rnum >= 1 and rnum <= 10
		]]>
	</select>

	<select id="select_one_spot" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" parameterType="int">
		select * from tbl_spot where spot_no=#{spot_no}
	</select>
	
	<select id="select_spot_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" parameterType="java.util.Map">
		select * from (
		select rownum rnum, a.* from
		(select * from tbl_spot 
			<where>
				<choose>
					<when test="country_code != ''">
					AND country_code=#{country_code}
					</when>
				</choose>
				<choose>
					<when test="city_code != ''">
					AND city_code=#{city_code}
					</when>
				</choose>
				<choose>
					<when test="spot_type_code != ''">
					AND spot_type_code=#{spot_type_code}
					</when>
				</choose>
			</where>
		)a)b
		where rnum<![CDATA[>=]]>#{startNum} and rnum<![CDATA[<=]]>#{endNum}
	</select>
	
	<select id="select_total_spot_count" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" resultType="int">
		select count(*) from tbl_spot
			<where>
				<choose>
					<when test="country_code != ''">
					AND country_code=#{country_code}
					</when>
				</choose>
				<choose>
					<when test="city_code != ''">
					AND city_code=#{city_code}
					</when>
				</choose>
				<choose>
					<when test="spot_type_code != ''">
					AND spot_type_code=#{spot_type_code}
					</when>
				</choose>
			</where>
	</select>

	<insert id="insert_spot" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		insert into tbl_spot values(
		#{spot_no}, #{mem_no}, #{country_code}, #{city_code}, #{spot_name}, 
		#{spot_type_code}, #{mem_level_code}, #{spot_note}, #{attach_file}, #{spot_addr}, #{spot_lat}, #{spot_long}, #{total_star_score}, #{count_star_score}
		)
	</insert>

	<update id="update_spot" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		update tbl_spot set city_code=#{city_code}, spot_name=#{spot_name}, spot_type_code=#{spot_type_code}, spot_note=#{spot_note}, spot_addr=#{spot_addr}, 
							spot_lat=#{spot_lat}, spot_long=#{spot_long} where spot_no=#{spot_no}
	</update>

	<delete id="delete_spot" parameterType="int">
		delete from tbl_spot where spot_no=#{spot_no}
	</delete>
</mapper>