<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.spot">
	<select id="select_spot_all_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		select * from tbl_spot
	</select>

	<select id="select_spot_all_list_for_planner" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		<![CDATA[
			select * from (
				select rownum rnum, a.* from
					(select * from tbl_spot order by spot_name asc) a)
			where rnum >= 1 and rnum <= 10
		]]>
	</select>

	<select id="select_one_spot" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" parameterType="int">
		select * from tbl_spot where spot_no=#{spot_no}
	</select>
	
	<select id="select_spot_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" parameterType="java.util.Map">
		select * from (
		select rownum rnum, a.* from
		(select * from tbl_spot 
			<where>
				<choose>
					<when test="country_code != '' and country_code != null">
					AND country_code=#{country_code}
					</when>
				</choose>
				<choose>
					<when test="city_code != '' and city_code != null">
					AND city_code=#{city_code}
					</when>
				</choose>
				<choose>
					<when test="spot_type_code != '' and spot_type_code != null">
					AND spot_type_code=#{spot_type_code}
					</when>
				</choose>
				<choose>
					<when test="searchWord != '' and searchWord != null">
					AND (spot_name like '%'||#{searchWord, jdbcType=VARCHAR}||'%' 
						 OR spot_note like '%'||#{searchWord, jdbcType=VARCHAR}||'%')
					</when>
				</choose>
			</where>
		)a)b
		where rnum<![CDATA[>=]]>#{startNum} and rnum<![CDATA[<=]]>#{endNum}
	</select>
	
	<select id="select_total_spot_count" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto" resultType="int">
		select count(*) from tbl_spot
			<where>
				<choose>
					<when test="country_code != '' and country_code != null">
					AND country_code=#{country_code}
					</when>
				</choose>
				<choose>
					<when test="city_code != '' and city_code != null">
					AND city_code=#{city_code}
					</when>
				</choose>
				<choose>
					<when test="spot_type_code != '' and spot_type_code != null">
					AND spot_type_code=#{spot_type_code}
					</when>
				</choose>
				<choose>
					<when test="spot_name != '' and spot_name != null">
					AND (spot_name like '%'||#{spot_name, jdbcType=VARCHAR}||'%' 
					 	OR spot_note like '%'||#{spot_name, jdbcType=VARCHAR}||'%')
					</when>
				</choose>
			</where>
	</select>

	<insert id="insert_spot" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		insert into tbl_spot values(
		TBL_SPOT_SPOT_NO_SEQ.nextval, #{mem_no}, #{country_code}, #{city_code}, #{spot_name}, 
		#{spot_type_code}, #{mem_level_code}, #{spot_note}, #{attach_file}, #{spot_addr}, #{spot_lat}, #{spot_long}, #{total_star_score}, #{count_star_score}, #{open_api_seq}, SYSDATE
		)
	</insert>

	<update id="update_spot" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		update tbl_spot set country_code=#{country_code}, city_code=#{city_code}, spot_type_code=#{spot_type_code}, 
							spot_name=#{spot_name}, spot_note=#{spot_note}, 
							spot_addr=#{spot_addr}, spot_lat=#{spot_lat}, spot_long=#{spot_long} 
		where spot_no=#{spot_no}
	</update>
	
	<update id="update_spot_with_file" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		update tbl_spot set country_code=#{country_code}, city_code=#{city_code}, spot_type_code=#{spot_type_code}, 
							spot_name=#{spot_name}, spot_note=#{spot_note}, attach_file=#{attach_file},
							spot_addr=#{spot_addr}, spot_lat=#{spot_lat}, spot_long=#{spot_long} 
		where spot_no=#{spot_no}
	</update>

	<delete id="delete_spot" parameterType="int">
		delete from tbl_spot where spot_no=#{spot_no}
	</delete>
	
	<update id="update_spot_rate" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.spot.SpotDto">
		update tbl_spot set total_star_score=#{total_star_score}, count_star_score=#{count_star_score} where spot_no=#{spot_no}
	</update>
	
	<select id="select_my_spot_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.search.SpotDtoExt" parameterType="java.util.Map">
		select * from (
		select rownum rnum, a.* from
		(select SPOT_NO
				, MEM_NO
				, COUNTRY_CODE
				, (select code_name from TBL_COMMON_CODE where CODE=COUNTRY_CODE) AS COUNTRY_NAME
				, CITY_CODE
				, (select code_name from TBL_COMMON_CODE where CODE=CITY_CODE) AS CITY_NAME
				, SPOT_NAME
				, SPOT_TYPE_CODE
				, (select code_name from TBL_COMMON_CODE where CODE=SPOT_TYPE_CODE) AS SPOT_TYPE_NAME
				, MEM_LEVEL_CODE
				, SPOT_NOTE
				, (select SAVE_NAME||'.'||EXTENSION from TBL_COMMON_FILE where FILE_NO=replace(ATTACH_FILE,',','')) AS ATTACH_FILE
				, SPOT_ADDR
				, SPOT_LAT
				, SPOT_LONG
				, TOTAL_STAR_SCORE
				, COUNT_STAR_SCORE
				, OPEN_API_SEQ
				, SPOT_REGDATE
				, ROUND( NVL((TOTAL_STAR_SCORE)/DECODE((COUNT_STAR_SCORE),0, NULL,(COUNT_STAR_SCORE)), 0), 1) AS STAR_SCORE
				from tbl_spot 
			<where>
				<choose>
					<when test="searchWord != '' and searchWord != null">
					AND (spot_name like '%'||#{searchWord, jdbcType=VARCHAR}||'%' 
						 OR spot_note like '%'||#{searchWord, jdbcType=VARCHAR}||'%')
					</when>
				</choose>
				AND mem_no = ${mem_no}
			</where>
		)a)b
		where rnum<![CDATA[>=]]>#{startNum} and rnum<![CDATA[<=]]>#{endNum}
	</select>
	
	<select id="select_total_my_spot_count" parameterType="java.util.Map" resultType="int">
		select count(*) from tbl_spot
			<where>
				<choose>
					<when test="searchWord != '' and searchWord != null">
					AND (spot_name like '%'||#{searchWord, jdbcType=VARCHAR}||'%' 
						 OR spot_note like '%'||#{searchWord, jdbcType=VARCHAR}||'%')
					</when>
				</choose>
				AND mem_no = ${mem_no}
			</where>
	</select>
</mapper>