<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="everywhere.com.mynetgear.ccvf2.comm.mapper.commoncode">

	<resultMap type="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto" id="codeMap">
		<result property="code_no" column="CODE_NO" />
		<result property="code" column="CODE" />
		<result property="code_name" column="CODE_NAME" />
		<result property="code_group" column="CODE_GROUP" />
		<result property="code_group_name" column="CODE_GROUP_NAME" />
		<result property="code_sort" column="CODE_SORT" />
		<result property="code_value" column="CODE_VALUE" />
	</resultMap>
	<!-- 코드등록 -->
	<insert id="insert_code_info" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto">
		INSERT INTO
			TBL_COMMON_CODE
		(
			CODE_NO
			, CODE
			, CODE_NAME
			, CODE_GROUP
			, CODE_GROUP_NAME
			, CODE_VALUE
			, CODE_REGDATE
		)
		VALUES
		(
			TBL_COMMON_CODE_CODE_NO_SEQ.nextval
			,#{code}
			,#{code_name}
			,#{code_group}
			,#{code_group_name}
			,#{code_value}
			,sysdate
		)
	</insert>
	
	<!-- 코드 내용수정 -->
	<update id="update_code_info" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto">
		UPDATE
			TBL_COMMON_CODE
		SET 
			CODE=#{code}
			, CODE_NAME=#{code_name}
			, CODE_GROUP=#{code_group}
			, CODE_GROUP_NAME=#{code_group_name}
			, CODE_VALUE=#{code_value}
		WHERE
			CODE_NO=#{code_no}
	</update>
	
	<!-- 코드 내용삭제 -->
	<delete id="delete_code_info" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto">
		DELETE
		FROM
			TBL_COMMON_CODE
		WHERE
			CODE_NO=#{code_no}
	</delete>

	<!-- 코드목록 불러오기 -->
	<select id="selectList_code_info" resultMap="codeMap" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDtoExt">
		SELECT
			code_no
			,code
			,code_name
			,code_group
			,code_group_name
			,code_sort
			,code_value
			,code_regdate
		FROM
			tbl_common_code
		<where>
				<choose>
					<when test="search_code_group != ''">
					AND code_group=#{search_code_group}
					</when>
					<when test="search_code_group_name != ''">
					AND code_group_name=#{search_code_group}
					</when>
					<otherwise>
					</otherwise>
				</choose>
		</where>
		ORDER BY
			code_group DESC
			, code_sort ASC
			, code_name ASC
	</select>





	<!-- 코드목록 불러오기 -->
	<select id="selectList_code_info_admin" resultMap="codeMap" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDtoExt">
	SELECT	
		row_numbering_table.*
	FROM
		(SELECT
			ROWNUM rnum
			,original_table.* 
		FROM
			(
			SELECT
				code_no
				,code
				,code_name
				,code_group
				,code_group_name
				,code_sort
				,code_value
				,code_regdate
			FROM
				tbl_common_code
			<where>
				<choose>
					<when test="search_code_group != ''">
					AND code_group=#{search_code_group}
					</when>
					<when test="search_code_group_name != ''">
					AND code_group_name=#{search_code_group}
					</when>
					<otherwise>
					</otherwise>
				</choose>
				<if test="searchWord1 != ''">
					<choose>
						<when test="searchCondition1 == 'code'">
						AND code like '%'||#{searchWord1}||'%'
						</when>
						<when test="searchCondition1 == 'code_name'">
						AND code_name like '%'||#{searchWord1}||'%'
						</when>
						<when test="searchCondition1 == 'code_value'">
						AND code_value like '%'||#{searchWord1}||'%'
						</when>
						<otherwise>
						AND (code_value like '%'||#{searchWord1}||'%' OR (code like '%'||#{searchWord1}||'%' or code_name like '%'||#{searchWord1}||'%'))
						</otherwise>
					</choose>
				</if>
			</where>
			ORDER BY
				code_group DESC
				, code_sort ASC
				, code_name ASC
			)original_table
		)row_numbering_table
	WHERE
		<![CDATA[row_numbering_table.rnum >= #{startRow}]]>
	AND
		<![CDATA[ row_numbering_table.rnum <= #{endRow}]]>
	</select>
	<!-- 코드목록 총 갯수 -->
	<select id="selectList_code_info_totalCount" resultType="int" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDtoExt">
		SELECT
			count(*)
		FROM
			tbl_common_code
		<where>
			<choose>
				<when test="search_code_group != ''">
				AND code_group=#{search_code_group}
				</when>
				<when test="search_code_group_name != ''">
				AND code_group_name=#{search_code_group}
				</when>
				<otherwise>
				</otherwise>
			</choose>
			<if test="searchWord1 != ''">
				<choose>
					<when test="searchCondition1 == 'code'">
					AND code like '%'||#{searchWord1}||'%'
					</when>
					<when test="searchCondition1 == 'code_name'">
					AND code_name like '%'||#{searchWord1}||'%'
					</when>
					<when test="searchCondition1 == 'code_value'">
					AND code_value like '%'||#{searchWord1}||'%'
					</when>
					<otherwise>
					AND (code_value like '%'||#{searchWord1}||'%' OR (code like '%'||#{searchWord1}||'%' or code_name like '%'||#{searchWord1}||'%'))
					</otherwise>
				</choose>
			</if>
		</where>
	</select>

	<!-- 코드내용 1건  -->
	<select id="selectOne_code_info" resultType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto">
		SELECT
			code_no
			,code
			,code_name
			,code_group
			,code_group_name
			,code_sort
			,code_value
			,code_regdate
		FROM
			tbl_common_code
		<where>
				<choose>
					<when test="code_no != ''">
					AND code_no=#{code_no}
					</when>
					<when test="code != ''">
					AND code=#{code}
					</when>
					<otherwise>
					</otherwise>
				</choose>
		</where>
	</select>
	
	<select id="select_list_code_gropup" resultType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto">
		SELECT
			code_group
			,code_group_name
		FROM
			tbl_common_code
		GROUP BY
			code_group
			,code_group_name
	</select>


	<!-- 삭제 예정 -->
<!-- 	<select id="select_code_info_groupname" resultType="java.util.HashMap">
		SELECT
		 	code_no
			,code
			,code_name
			,code_group
			,code_group_name
			,code_sort
			,code_value
			,code_regdate
		FROM
			tbl_common_code
		WHERE
			code_group_name=#{code_group_name}
		AND
			code_name=#{code_name}
	</select>
	
	<select id="select_code_name" resultType="String" parameterType="String">
		select code_name from TBL_COMMON_CODE where code=#{code}
	</select>
	
	<select id="select_by_code_group" resultType="everywhere.com.mynetgear.ccvf2.comm.dto.commoncode.CommonCodeDto" parameterType="String">
		select code, code_name, code_value from TBL_COMMON_CODE where code_group=#{code_group}
	</select> -->
</mapper>