<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 회원가입 mapper -->
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.member">
	<!-- 이메일 체크 쿼리 -->
	<select id="emailCheck" parameterType="String" resultType="String">
		select mem_email from tbl_member where mem_email=#{email}
	</select>
	
	<!-- 회원가입 쿼리 -->
	<insert id="memberRegist" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		insert into tbl_member values
		(tbl_member_mem_no_seq.nextval,#{mem_email},#{mem_pwd},#{mem_name},#{mem_phone},#{mem_interest},#{mem_status_code},#{mem_level_code},#{mem_p_status_code},#{mem_profile_photo},sysdate)
	</insert>
	
	<!-- 회원정보보기 쿼리 -->
	<select id="memberRead" parameterType="int" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select 
			k.MEM_NO
			,k.MEM_EMAIL
			,k.MEM_PWD
			,k.MEM_NAME
			,k.MEM_PHONE
			,k.MEM_INTEREST
			,k.MEM_STATUS_CODE
			,k.MEM_LEVEL_CODE
			,k.MEM_P_STATUS_CODE
			,(select SAVE_NAME||'.'||EXTENSION from tbl_common_file where FILE_NO=k.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
			,k.MEM_REG_DATE
 		from
 			tbl_member k
 		where
 			k.mem_no=#{mem_no}
	</select>
	
	<!-- 회원정보수정 쿼리 -->
	<update id="memberUpdate" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		update tbl_member 
		set mem_pwd=#{mem_pwd}
		,mem_phone=#{mem_phone}
		,mem_interest=#{mem_interest} 
		where mem_no=#{mem_no}
	</update>
	
	<!-- 회원정보삭제(비활성화) 쿼리 -->
	<update id="memberDelete" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		update tbl_member set mem_status_code=#{mem_status_code} where mem_no=#{mem_no} and mem_pwd=#{mem_pwd}
	</update>
	
	<!-- 로그인 시도 -->
	<select id="tryLoginInfo" resultType="int" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select count(*) from tbl_member where mem_email=#{mem_email} and mem_pwd=#{mem_pwd} 
	</select>
	
	<!-- 로그인한 사람 정보 가져오기 -->
	<select id="getOneMemberInfo" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
	select
		k.MEM_NO
		, k.MEM_EMAIL
		, k.MEM_NAME
		, k.MEM_PHONE
		, k.MEM_INTEREST
		, k.MEM_STATUS_CODE
		, k.MEM_LEVEL_CODE
		, k.MEM_P_STATUS_CODE
		, (select SAVE_NAME||'.'||EXTENSION from tbl_common_file where FILE_NO=k.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
		, k.MEM_REG_DATE
	from 
		tbl_member k
	where
		k.MEM_EMAIL=#{mem_email}
	and
		k.MEM_PWD=#{mem_pwd}
	</select>
	
	<!-- email로 회원정보 가져오기 -->
	<select id="getOneMemberInfoAsEmail" parameterType="String" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select
			MEM_NO
			, MEM_EMAIL
			, MEM_NAME
		from 
			tbl_member
		where
			MEM_EMAIL=#{mem_email}
	</select>
	
	<!-- 친구 유무 확인 -->
	<select id="getMateCheck" parameterType="java.util.HashMap" resultType="int">
		select
			count(*)
		from tbl_mate
		where
			mem_no=#{mem_no} and
			mate_no=#{mate_no}
	</select>
	
	<!-- 친구 추가 -->
	<select id="mateInsert" parameterType="java.util.HashMap" resultType="int">
		insert into tbl_mate values(#{mem_no}, ${mate_no})
	</select>
	
	<!-- 친구 삭제 -->
	<delete id="mateDelete" parameterType="java.util.HashMap">
		delete from tbl_mate 
		where
			mem_no=#{mem_no} and
			mate_no=#{mate_no} 
	</delete>
	
	<select id="getListFriends" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto" parameterType="java.util.HashMap">
		select 
			k.MEM_NO
			,k.MEM_EMAIL
			,k.MEM_PWD
			,k.MEM_NAME
			,k.MEM_PHONE
			,k.MEM_INTEREST
			,k.MEM_STATUS_CODE
			,k.MEM_LEVEL_CODE
			,k.MEM_P_STATUS_CODE
			,(select SAVE_NAME||'.'||EXTENSION from tbl_common_file where FILE_NO=k.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
			,k.MEM_REG_DATE
 		from
 			tbl_member k
 		where
 			k.mem_no in (select mate_no from tbl_mate where mem_no=#{mem_no})
 		and 
			k.MEM_STATUS_CODE=#{MEMBER_STATUS_ACTIVE}
	</select>
	
	
	<!-- 맴버전체가져오기 -->
	<select id="passwordChnge" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		SELECT * FROM TBL_MEMBER
	</select>
	
	<!-- 맴버내용 바꾸기 -->
	<update id="chngePasswordMemberInfo">
		update tbl_member set mem_pwd=#{mem_pwd} where mem_no=#{mem_no}
		<!-- update tbl_member set mem_pwd=#{mem_pwd} where mem_no=10 -->
	</update>
	
	<!-- 프로필사진 바꾸기 -->
	<update id="updateProfilePhoto" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		update tbl_member set mem_profile_photo=#{mem_profile_photo} where mem_no=#{mem_no}
	</update>
	
	<!-- 친구 검색 -->
	<select id="searchFriends" parameterType="java.util.HashMap" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select
			k.MEM_NO
			, k.MEM_EMAIL
			, k.MEM_NAME
			, (select SAVE_NAME||'.'||EXTENSION from tbl_common_file where FILE_NO=k.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
		from 
			tbl_member k
		where
			(k.MEM_EMAIL like '%'||#{search, jdbcType=VARCHAR}||'%' 
										or k.MEM_NAME like '%'||#{search, jdbcType=VARCHAR}||'%')
		and 
			k.MEM_STATUS_CODE=#{MEMBER_STATUS_ACTIVE}
	</select>
</mapper>