<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.member">
	<select id="emailCheck" parameterType="String" resultType="String">
		select mem_email from tbl_member where mem_email=#{email}
	</select>
	
	<insert id="memberRegist" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		insert into tbl_member values
		(tbl_member_mem_no_seq.nextval,#{mem_email},#{mem_pwd},#{mem_name},#{mem_phone},#{mem_interest},#{mem_status_code},#{mem_level_code},#{mem_p_status_code},#{mem_profile_photo},sysdate)
	</insert>
	
	<select id="memberRead" parameterType="int" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select * from tbl_member where mem_no=#{mem_no}
	</select>
	
	<update id="memberUpdate" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		update tbl_member set mem_pwd=#{mem_pwd},mem_phone=#{mem_phone},mem_interest=#{mem_interest} where mem_no=#{mem_no}
	</update>
	
	<update id="memberDelete" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		update tbl_member set mem_status_code=#{mem_status_code} where mem_no=#{mem_no} and mem_pwd=#{mem_pwd}
	</update>
	
	<!-- 로그인 시도 -->
	<select id="tryLoginInfo" resultType="int" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select count(*) from tbl_member where mem_email=#{mem_email} and mem_pwd=#{mem_pwd} 
	</select>
	
	<!-- 로그인한 사람 정보 가져오기 -->
	<select id="getOneMemberInfo" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
	select
		MEM_NO
		, MEM_EMAIL
		, MEM_NAME
		, MEM_PHONE
		, MEM_INTEREST
		, MEM_STATUS_CODE
		, MEM_LEVEL_CODE
		, MEM_P_STATUS_CODE
		, MEM_PROFILE_PHOTO
		, MEM_REG_DATE
	from 
		tbl_member
	where
		MEM_EMAIL=#{mem_email}
	and
		MEM_PWD=#{mem_pwd}
	</select>
	
</mapper>