<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.visitor">
	<resultMap type="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto" id="visitorDto">
		<result property="visitor_no" column="visitor_no"/>
		<result property="mem_no" column="mem_no"/>
		<result property="visitor_content" column="visitor_content"/>
		<result property="visitor_write_date" column="visitor_write_date"/>
		<result property="visitor_status_code" column="visitor_status_code"/>
	</resultMap>
	
	<select id="visitorCount" parameterType="java.util.HashMap" resultType="int">
		select nvl(count(*), 0) 
		from tbl_visitor 
		where mate_mem_no=#{mem_no}
		and visitor_status_code=#{visitor_status_code}
	</select>
	
	<select id="visitorList" parameterType="java.util.HashMap" resultType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		<![CDATA[
			SELECT 
				 yy.visitor_no
				,yy.mem_no
				,(SELECT mem_name FROM tbl_member WHERE mem_no=yy.mem_no)mem_name
				,(SELECT mem_email FROM tbl_member WHERE mem_no=yy.mem_no)mem_email
				,yy.visitor_content
				,yy.visitor_write_date
				,yy.visitor_status_code
				,yy.mate_mem_no
			FROM
			    (SELECT kk.* 
			     FROM (SELECT ROWNUM rnum, A.* 
			           FROM (SELECT * 
			                 FROM tbl_visitor 
			                 WHERE mate_mem_no=#{mate_mem_no}
			                 AND visitor_status_code=#{visitor_status_code}
			                 ORDER BY visitor_no DESC) A) kk    
		         WHERE kk.rnum >= #{startRow}
		         AND kk.rnum <= #{endRow}) yy
		]]>
	</select>
	
	<insert id="visitorInsert" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		insert into tbl_visitor 
		values(
		tbl_visitor_visitor_no_seq.nextval
		, #{mem_no}
		, #{visitor_content}
		, sysdate
		, #{visitor_status_code}
		, #{mate_mem_no}
		)
	</insert>
	
	<select id="visitorSelect" parameterType="int" resultMap="visitorDto">
		select * from tbl_visitor where visitor_no=#{visitor_no}
	</select>
	
	<update id="visitorUpdate" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		update tbl_visitor set visitor_content=#{visitor_content} where visitor_no=#{visitor_no} 
	</update>
	
	<update id="visitorDelete" parameterType="java.util.Map">
		update tbl_visitor set visitor_status_code=#{visitor_status_code} where visitor_no=#{visitor_no}
	</update>
	
	<select id="getVisitorMemberList" parameterType="java.util.Map" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
	</select>
</mapper>