<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.visitor">
	<resultMap type="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto" id="visitorDto">
		<result property="visitor_no" column="visitor_no"/>
		<result property="mem_no" column="mem_no"/>
		<result property="visitor_content" column="visitor_content"/>
		<result property="visitor_write_date" column="visitor_write_date"/>
		<result property="visitor_status_code" column="visitor_status_code"/>
	</resultMap>
	
	<select id="visitorCount" parameterType="int" resultType="int">
		select nvl(count(*), 0) from tbl_visitor where mate_mem_no=#{mem_no}
	</select>
	
	<select id="visitorList" parameterType="java.util.HashMap" resultMap="visitorDto">
		<![CDATA[
			select * from (select rownum rnum, a.* from
						  (select * from tbl_visitor where mate_mem_no=#{mate_mem_no} order by visitor_no desc) a)
			where rnum >= #{startRow} and rnum <= #{endRow} and visitor_status_code=#{visitor_status_code}
		]]>
	</select>
	
	<insert id="visitorInsert" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		insert into tbl_visitor 
		values(
		tbl_visitor_visitor_no_seq.nextval
		, #{mem_no}
		, #{visitor_content}
		, sysdate
		, #{visitor_status_code}
		, #{mate_mem_no}
		)
	</insert>
	
	<select id="visitorSelect" parameterType="int" resultMap="visitorDto">
		select * from tbl_visitor where visitor_no=#{visitor_no}
	</select>
	
	<update id="visitorUpdate" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		update tbl_visitor set visitor_content=#{visitor_content} where visitor_no=#{visitor_no} 
	</update>
	
	<update id="visitorDelete" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.visitor.VisitorDto">
		update tbl_visitor set visitor_status_code=#{visitor_status_code} where visitor_no=#{visitor_no}
	</update>
	
	<select id="getVisitorMemberList" parameterType="java.util.Map" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		<![CDATA[
			select mem_no, mem_email, mem_name from tbl_member where mem_no in
			(select mem_no from (select rownum rnum, a.* 
			from (select * 
			      from tbl_visitor 
			      where mate_mem_no=#{mate_mem_no}
			      order by visitor_no desc) a)    
			where rnum >= #{startRow} and rnum <= #{endRow} and visitor_status_code=#{visitor_status_code})
		]]>
	</select>
</mapper>