<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 관리자 회원관리의 mapper -->
<mapper namespace="everywhere.com.mynetgear.ccvf2.admin.mapper.member">
	<select id="getMemberList" parameterType="everywhere.com.mynetgear.ccvf2.admin.dto.member.AdminMemberDto" resultType="everywhere.com.mynetgear.ccvf2.user.dto.member.MemberDto">
		select * 
		from tbl_member
		
		
		<if test="search != null">
			
		</if>
		<if test="memLevel != null">
			
		</if>
		<if test="memStatus ! = null">
		
		</if>
		<if test="phoneStatus != null">
		
		</if>
		<if test="start_date">
		
		</if>
		<if test="end_date"></if>
	</select>
</mapper>