<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.search">
	<!-- 명소의 개수를 반환 -->
	<select id="getSpotCount" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.search.SpotDtoExt" resultType="int">
		select count(*)
        from
           (select tbl_spot.spot_no,
                  tbl_spot.mem_no,
                  tbl_spot.country_code,
                  (select code_name from tbl_common_code where code=tbl_spot.country_code) country_name,
                  tbl_spot.city_code,
                  (select code_name from tbl_common_code where code=tbl_spot.city_code) city_name,
                  tbl_spot.spot_name,
                  tbl_spot.spot_type_code,
                  tbl_spot.mem_level_code,
                  tbl_spot.spot_note,
                  tbl_spot.attach_file,
                  tbl_spot.spot_addr,
                  tbl_spot.spot_lat,
                  tbl_spot.spot_long,
                  tbl_spot.total_star_score,
                  tbl_spot.count_star_score,
                  tbl_member.mem_name
            from tbl_spot, tbl_member
            where tbl_member.mem_no = tbl_spot.mem_no
            )
         <where>
         	<choose>
         		<when test="searchWord1==searchWord2">
         			AND (country_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%' 
								or city_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%')
					OR spot_name like '%'||#{searchWord2, jdbcType=VARCHAR}||'%'
         		</when>
         		<otherwise>
         			<choose>
		         		<when test="searchWord1!=''">
		         			AND (country_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%' 
								or city_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%')
		         		</when>
		         	</choose>
		         	<choose>
		         		<when test="searchWord2!=''">
		         			AND spot_name like '%'||#{searchWord2, jdbcType=VARCHAR}||'%'
		         		</when>
		         	</choose>
         		</otherwise>
         	</choose>
         </where>
	</select>
	
	<!-- 스케줄의 개수를 반환 -->
	<select id="getPlannerCount" parameterType="java.util.Map" resultType="int">
		select count(*)
		from tbl_planner
		where use_yn=#{use_yn}
		<if test="searchValue != null">
			and (title like '%'||#{searchValue, jdbcType=VARCHAR}||'%' 
			or memo like '%'||#{searchValue, jdbcType=VARCHAR}||'%')
		</if>
	</select>
	
	<!-- 명소의 리스트를 반환 -->
	<select id="getSpotList" resultType="everywhere.com.mynetgear.ccvf2.user.dto.search.SpotDtoExt">
		select *
		from (
			<![CDATA[
		    select rownum rnum]]>,
		  		 results.*
		    from
		      (select *
		       from
		           (select tbl_spot.spot_no,
		                  tbl_spot.mem_no,
		                  tbl_spot.country_code,
		                  (select code_name from tbl_common_code where code=tbl_spot.country_code) country_name,
		                  tbl_spot.city_code,
		                  (select code_name from tbl_common_code where code=tbl_spot.city_code) city_name,
		                  tbl_spot.spot_name,
		                  tbl_spot.spot_type_code,
		                  tbl_spot.mem_level_code,
		                  tbl_spot.spot_note,
		                  tbl_spot.attach_file,
		                  tbl_spot.spot_addr,
		                  tbl_spot.spot_lat,
		                  tbl_spot.spot_long,
		                  tbl_spot.total_star_score,
		                  tbl_spot.count_star_score,
		                  tbl_member.mem_name
		            from tbl_spot, tbl_member
		            where tbl_member.mem_no = tbl_spot.mem_no
		            )
		         <where>
		         	<choose>
		         		<when test="searchWord1==searchWord2">
		         			AND (country_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%' 
										or city_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%')
							OR spot_name like '%'||#{searchWord2, jdbcType=VARCHAR}||'%'
		         		</when>
		         		<otherwise>
		         			<choose>
				         		<when test="searchWord1!=''">
				         			AND (country_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%' 
										or city_name like '%'||#{searchWord1, jdbcType=VARCHAR}||'%')
				         		</when>
				         	</choose>
				         	<choose>
				         		<when test="searchWord2!=''">
				         			AND spot_name like '%'||#{searchWord2, jdbcType=VARCHAR}||'%'
				         		</when>
				         	</choose>
		         		</otherwise>
		         	</choose>
		         </where>
		         ) results)
		    <![CDATA[
		    where rnum >=#{startPage} and rnum <=#{endPage}
		    ]]>
	</select>
	
	<!-- 스케줄의 리스트를 반환 -->
	<select id="getPlannerList" parameterType="java.util.Map" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto">
		select * 
		from tbl_planner
	</select>
</mapper>