<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.planner">
	<select id="get_planner_seq_no" resultType="int">
		select tbl_planner_planner_no_seq.nextVal from dual
	</select>
	
	<select id="get_item_seq_no" resultType="int">
		select tbl_item_item_no_seq.nextVal from dual
	</select>
	
	<insert id="insert_planner" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		insert into tbl_planner(planner_no,
								mem_no,
								planner_ba_code,
								title,
								start_date,
								end_date,
								reg_date,
								use_yn)
		 			values(
		 				 	#{planner_no},
		 				 	#{mem_no},
		 				 	#{planner_ba_code},
		 				 	#{title},
		 				 	#{start_date},
		 				 	#{end_date},
		 				 	sysdate,
		 				 	#{use_yn})	
	</insert>
	
	<update id="update_planner" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		update tbl_planner set title=#{title},
								attach_file=#{attach_file, jdbcType=VARCHAR},
								memo=#{memo, jdbcType=VARCHAR},
								start_date=#{start_date},
								end_date=#{end_date}
		where planner_no=#{planner_no}
	</update>
	
	<insert id="insert_item" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto">
		insert into tbl_item values(#{item_no}, 
									#{planner_no},
									#{mem_no}, 
									#{spot_no},
									#{item_order},
									#{note, jdbcType=VARCHAR},
									#{attach_photoes, jdbcType=VARCHAR},
									#{item_star_score},
									#{item_time, jdbcType=VARCHAR}
									)
	</insert>
	
	<insert id="insert_money" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto">
		insert into tbl_money values(tbl_money_money_no_seq.nextVal, 
									#{planner_no}, 
									#{item_no}, 
									#{mem_no}, 
									#{spot_no},
									#{money_type_code},
									#{money_currency_code},
									#{price},
									#{money_title}
									)
	</insert>
	
	<select id="get_planner_list_by_mem_no" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto" parameterType="int">
		select * from tbl_planner
		<where>
			mem_no=#{mem_no}
			<choose>
				<when test="use_yn != 'Y0003'">
				AND use_yn=#{use_yn}
				</when>
				<when test="use_yn == 'Y0003'">
				AND use_yn!=#{use_yn}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="get_planner_list_for_all" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		select * from tbl_planner where use_yn='Y0001' order by planner_no desc
	</select>
	 
	<select id="get_item_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto" parameterType="int">
		select * from tbl_item where planner_no=#{planner_no} order by item_no asc
	</select>
	 
	<select id="get_money_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.MoneyDto" parameterType="int">
		select * from tbl_money where item_no=#{item_no}
	</select> 

	<select id="get_planner_item" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto" parameterType="int">
		select 
			pl.PLANNER_NO
			, pl.MEM_NO
			, pl.PLANNER_BA_CODE
			, pl.TITLE
			, (select save_name||'.'||EXTENSION from tbl_common_file where FILE_NO=pl.ATTACH_FILE)ATTACH_FILE  
			, pl.MEMO
			, pl.START_DATE
			, pl.END_DATE
			, pl.REG_DATE
			, pl.USE_YN
		from tbl_planner pl where pl.planner_no=#{planner_no}
	</select>
	
	<delete id="delete_planner" parameterType="int">
		delete from tbl_planner where planner_no=#{planner_no}
	</delete>
	
	<delete id="delete_item" parameterType="int">
		delete from tbl_item where planner_no=#{planner_no}
	</delete>
	
	<delete id="delete_money" parameterType="int">
		delete from tbl_money where planner_no=#{planner_no}
	</delete>
	
	<update id="update_planner_status" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		update tbl_planner set use_yn=#{use_yn} where planner_no=#{planner_no} and mem_no=#{mem_no}
	</update>
</mapper>