<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everywhere.com.mynetgear.ccvf2.user.mapper.planner">
	<select id="get_planner_seq_no" resultType="int">
		select tbl_planner_planner_no_seq.nextVal from dual
	</select>
	
	<select id="get_item_seq_no" resultType="int">
		select tbl_item_item_no_seq.nextVal from dual
	</select>
	
	<insert id="insert_planner" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		insert into tbl_planner(planner_no,
								mem_no,
								planner_ba_code,
								title,
								start_date,
								end_date,
								reg_date,
								use_yn)
		 			values(
		 				 	#{planner_no},
		 				 	#{mem_no},
		 				 	#{planner_ba_code},
		 				 	#{title},
		 				 	#{start_date},
		 				 	#{end_date},
		 				 	sysdate,
		 				 	#{use_yn})	
	</insert>
	
	<update id="update_planner" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		update tbl_planner set title=#{title},
								attach_file=#{attach_file, jdbcType=VARCHAR},
								memo=#{memo, jdbcType=VARCHAR},
								start_date=#{start_date},
								end_date=#{end_date}
		where planner_no=#{planner_no}
	</update>
	
	<insert id="insert_item" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto">
		insert into tbl_item values(tbl_item_item_no_seq.nextVal, 
									#{planner_no},
									#{mem_no}, 
									#{spot_no},
									#{item_order},
									#{note, jdbcType=VARCHAR},
									#{attach_photoes, jdbcType=VARCHAR},
									#{item_star_score},
									#{item_time, jdbcType=VARCHAR}
									)
		<selectKey keyProperty="item_no" resultType="Integer" order="AFTER">
			SELECT tbl_item_item_no_seq.currval FROM dual
		</selectKey>
	</insert>
	
	<insert id="insert_money" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.MoneyDto">
		insert into tbl_money values(tbl_money_money_no_seq.nextVal, 
									#{planner_no}, 
									#{item_no}, 
									#{mem_no}, 
									#{spot_no},
									#{money_type_code},
									#{money_currency_code},
									#{price},
									#{money_title}
									)
	</insert>
	
	<update id="update_item" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto">
		update tbl_item set item_order=#{item_order},
							spot_no=#{spot_no},
							attach_photoes=#{attach_photoes, jdbcType=VARCHAR},
							note=#{note, jdbcType=VARCHAR},
							item_time=#{item_time, jdbcType=VARCHAR}
		where item_no=#{item_no}
	</update>
	
	<update id="update_money" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.MoneyDto">
		update tbl_money set money_type_code=#{money_type_code},
							price=#{price},
							money_title=#{money_title, jdbcType=VARCHAR}
		where money_no=#{money_no}
	</update>
	
	<select id="get_planner_list_by_mem_no" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto" parameterType="int">
		select * from tbl_planner
		<where>
			mem_no=#{mem_no}
			<choose>
				<when test="use_yn != 'Y0003'">
				AND use_yn=#{use_yn}
				</when>
				<when test="use_yn == 'Y0003'">
				AND use_yn!=#{use_yn}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="get_planner_list_for_all" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
	SELECT
		BB.*
	FROM
		(SELECT
			ROWNUM rnum
			, AA.*
		FROM
			(SELECT
				PLA.PLANNER_NO
				, PLA.MEM_NO
				, PLA.PLANNER_BA_CODE
				, PLA.TITLE
				, (SELECT SAVE_NAME||'.'||EXTENSION FROM TBL_COMMON_FILE WHERE FILE_NO=PLA.ATTACH_FILE)ATTACH_FILE
				, PLA.MEMO
				, PLA.START_DATE
				, PLA.END_DATE
				, PLA.REG_DATE
				, PLA.USE_YN
				, MEM.MEM_NAME
				, MEM.MEM_EMAIL
				, (SELECT SAVE_NAME||'.'||EXTENSION FROM TBL_COMMON_FILE WHERE FILE_NO=MEM.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
				, (SELECT COUNT(1) FROM TBL_SWEET WHERE PLANNER_NO=PLA.PLANNER_NO)sweet_count
				, (SELECT COUNT(1) FROM TBL_COMMON_REPLY WHERE ITEM_NO=PLA.PLANNER_NO AND TYPE_CODE=PLA.PLANNER_BA_CODE)reply_Count
				, (SELECT COUNT(1) FROM TBL_BOOKMARK WHERE ITEM_NO=PLA.PLANNER_NO AND BOOKMARK_TYPE_CODE=PLA.PLANNER_BA_CODE)bookmark_Count
			FROM
				TBL_PLANNER PLA, TBL_MEMBER MEM
			WHERE
				PLA.USE_YN='Y0001'
			AND 
				PLA.MEM_NO= MEM.MEM_NO
			<if test="searchCondition1!=''">
			AND
				PLA.PLANNER_BA_CODE=#{searchCondition1}
			</if>
			<if test="searchWord1!=''">
			AND
				PLA.TITLE LIKE '%'||#{searchWord1}||'%'
			</if>
			<if test="searchCondition2!=''">
			ORDER BY
			<choose>
				<when test="searchCondition2=='S1101'">
				<!-- 댓글 순 -->
				reply_Count desc
				</when>
				<when test="searchCondition2=='S1102'">
				<!-- 북마크순 -->
				bookmark_Count desc
				</when>
				<when test="searchCondition2=='S1103'">
				<!-- 좋아요순 -->
				sweet_count desc
				</when>
				<when test="searchCondition2=='S1104'">
				<!-- 최신등록순 -->
				PLA.REG_DATE desc
				</when>
				<otherwise>
				PLA.PLANNER_NO DESC
				</otherwise>
			</choose>
			</if>
				)AA
			)BB
	WHERE
		<![CDATA[BB.rnum >= #{startRow}]]>
	AND
		<![CDATA[ BB.rnum <= #{endRow}]]>
	</select>
	<select id="get_planner_list_for_all_Count" resultType="int" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
	SELECT
		count(*)
	FROM
		(SELECT
			ROWNUM rnum
			, AA.*
		FROM
			(SELECT
				PLA.PLANNER_NO
				, PLA.MEM_NO
				, PLA.PLANNER_BA_CODE
				, PLA.TITLE
				, (SELECT SAVE_NAME||'.'||EXTENSION FROM TBL_COMMON_FILE WHERE FILE_NO=PLA.ATTACH_FILE)ATTACH_FILE
				, PLA.MEMO
				, PLA.START_DATE
				, PLA.END_DATE
				, PLA.REG_DATE
				, PLA.USE_YN
				, MEM.MEM_NAME
				, MEM.MEM_EMAIL
				, (SELECT SAVE_NAME||'.'||EXTENSION FROM TBL_COMMON_FILE WHERE FILE_NO=MEM.MEM_PROFILE_PHOTO) MEM_PROFILE_PHOTO
				, (SELECT COUNT(1) FROM TBL_SWEET WHERE PLANNER_NO=PLA.PLANNER_NO)sweet_count
				, (SELECT COUNT(1) FROM TBL_COMMON_REPLY WHERE ITEM_NO=PLA.PLANNER_NO AND TYPE_CODE=PLA.PLANNER_BA_CODE)reply_Count
				, (SELECT COUNT(1) FROM TBL_BOOKMARK WHERE ITEM_NO=PLA.PLANNER_NO AND BOOKMARK_TYPE_CODE=PLA.PLANNER_BA_CODE)bookmark_Count
			FROM
				TBL_PLANNER PLA, TBL_MEMBER MEM
			WHERE
				PLA.USE_YN='Y0001'
			AND 
				PLA.MEM_NO= MEM.MEM_NO
			<if test="searchCondition1!=''">
			AND
				PLA.PLANNER_BA_CODE=#{searchCondition1}
			</if>
			<if test="searchWord1!=''">
			AND
				PLA.TITLE LIKE '%'||#{searchWord1}||'%'
			</if>
			
				)AA
			)BB
	</select>
	 
	<select id="get_item_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.ItemDto" parameterType="int">
		select * from tbl_item where planner_no=#{planner_no} order by item_no asc
	</select>
	 
	<select id="get_money_list" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.MoneyDto" parameterType="int">
		select * from tbl_money where item_no=#{item_no} order by money_no asc
	</select> 

	<select id="get_planner_item" resultType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto" parameterType="int">
		select 
			pl.PLANNER_NO
			, pl.MEM_NO
			, pl.PLANNER_BA_CODE
			, pl.TITLE
			, (select save_name||'.'||EXTENSION from tbl_common_file where FILE_NO=pl.ATTACH_FILE)ATTACH_FILE  
			, pl.MEMO
			, pl.START_DATE
			, pl.END_DATE
			, pl.REG_DATE
			, pl.USE_YN
		from tbl_planner pl where pl.planner_no=#{planner_no}
	</select>
	
	<delete id="delete_planner" parameterType="int">
		delete from tbl_planner where planner_no=#{planner_no}
	</delete>
	
	<delete id="delete_item" parameterType="int">
		delete from tbl_item where planner_no=#{planner_no}
	</delete>
	
	<delete id="delete_money" parameterType="int">
		delete from tbl_money where planner_no=#{planner_no}
	</delete>
	
	<delete id="delete_item_by_item_no" parameterType="int">
		delete from tbl_item where item_no=#{item_no}
	</delete>
	
	<delete id="delete_money_by_money_no" parameterType="int">
		delete from tbl_money where money_no=#{money_no}
	</delete>
	
	<update id="update_planner_status" parameterType="everywhere.com.mynetgear.ccvf2.user.dto.planner.PlannerDto">
		update tbl_planner set use_yn=#{use_yn} where planner_no=#{planner_no} and mem_no=#{mem_no}
	</update>
</mapper>