<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.chartMapper">
	<insert id="totalSetCount">
		<![CDATA[
			insert into stats values(stats_num_seq.nextval, 
			  to_char(sysdate, 'yyyy'), 
			  to_char(sysdate, 'mm'), 
			  to_char(sysdate, 'dd'), 
			 	(select case to_char(sysdate,'d')
				      		when '1' then '일' 
				       		when '2' then '월'
						    when '3' then '화'
							when '4' then '수'
						    when '5' then '목'
						    when '6' then '금'
						    when '7' then '토'
			      		end "week"
			  	 from dual),
			  0, 'T')
		  ]]>
	</insert>
	
	<insert id="loginUSetCount">
		<![CDATA[
			insert into stats values(stats_num_seq.nextval, 
			  to_char(sysdate, 'yyyy'), 
			  to_char(sysdate, 'mm'), 
			  to_char(sysdate, 'dd'), 
			 	(select case to_char(sysdate,'d')
				      		when '1' then '일' 
				       		when '2' then '월'
						    when '3' then '화'
							when '4' then '수'
						    when '5' then '목'
						    when '6' then '금'
						    when '7' then '토'
			      		end "week"
			  	 from dual),
			  0, 'L')
		]]>
	</insert>
	
	<update id="todayCountUpdate" parameterType="int">
		<![CDATA[
		  update stats set stats_count=#{cnt}
		  where stats_status='T' 
		  and stats_year=(select to_char(sysdate, 'yyyy') from dual)
		  and stats_mon=(select to_char(sysdate, 'mm') from dual)
		  and stats_day=(select to_char(sysdate, 'dd') from dual)
		]]>
	</update>
	
	<select id="selectTodayCount" resultType="int">
		<![CDATA[
			select nvl(max(stats_count), 0) from stats 
		  	where stats_status='T'
		  	and stats_year=(select to_char(sysdate, 'yyyy') from dual)
		  	and stats_mon=(select to_char(sysdate, 'mm') from dual)
		  	and stats_day=(select to_char(sysdate, 'dd') from dual)
	  	]]>
	</select>
	
	<select id="getChartMonthList" parameterType="java.util.HashMap" resultType="int">
		<![CDATA[
			select sum(STATS_COUNT)
			from stats
			where STATS_YEAR=#{year}
			and stats_status='T'
      		and stats_mon>=to_number(#{start})
      		and stats_mon<=to_number(#{end})
			group by stats_mon
			ORDER BY to_number(stats_mon)
		]]>
	</select>
	
	<select id="todaySelectCnt" resultType="int">
		<![CDATA[
			select count(*) from stats 
		  	where stats_status='T'
		  	and stats_year=(select to_char(sysdate, 'yyyy') from dual)
		  	and stats_mon=(select to_char(sysdate, 'mm') from dual)
		  	and stats_day=(select to_char(sysdate, 'dd') from dual)
	  	]]>
	</select>
	
	<select id="getCharYearOne" resultType="int" parameterType="String">
		select sum(stats_count) 
		from stats 
		where stats_status='T' 
		and STATS_YEAR=#{year}
	</select>
	
	<select id="getCharYearList" resultType="int" parameterType="java.util.HashMap">
		<![CDATA[
			select sum(STATS_COUNT)
			from stats
			where stats_status='T'
			and stats_year>=#{yearS}
			and stats_year<=#{yearE}
			group by stats_year
			ORDER BY to_number(stats_year)
		]]>
	</select>
	
	<select id="getChartDayList" parameterType="java.util.HashMap" resultType="int">
		<![CDATA[
			select stats_count
			from stats
			where STATS_YEAR=#{year}
			and stats_day>=to_number(#{dayS})
			and stats_day<=to_number(#{dayE})
			and stats_mon=#{month}
			and stats_status='T'
			ORDER BY to_number(stats_day)
		]]>
	</select>
</mapper>