<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="everywhere.com.mynetgear.ccvf2.comm.mapper.common.commonFileIOMapper">
	
	<resultMap type="everywhere.com.mynetgear.ccvf2.comm.dto.common.CommonFileIODto" id="fileMap">
		<!-- <result property="code" column="CODE" />
		<result property="code_name" column="CODE_NAME" />
		<result property="code_value" column="CODE_VALUE" /> -->
	</resultMap>
	<!-- 저장파일내용 데이터베이스에 insert -->
	<insert id="insert_file_info" parameterType="everywhere.com.mynetgear.ccvf2.comm.dto.common.CommonFileIODto" useGeneratedKeys="true" keyProperty="file_no">
		<selectKey keyProperty="file_no" keyColumn="file_no" resultType="int" order="BEFORE" statementType="PREPARED">
			SELECT TBL_COMMON_FILE_FILE_NO_SEQ.nextval FROM dual
		</selectKey>
		INSERT INTO
			TBL_COMMON_FILE(
			 FILE_NO
			, TYPE_CODE
			, WRITE_NO
			, REAL_NAME
			, SAVE_NAME
			, SAVE_PATH
			, EXTENSION
			, FILE_SIZE
			)
		VALUES(
			#{file_no}
			, #{type_code}
			, #{write_no}
			, #{real_name}
			, #{save_name}
			, #{save_path}
			, #{extension}
			, #{file_size}
			)
	</insert>
	
</mapper>